* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main" 
    "footer";
    max-width: 1300px;
}
header {
   grid-area: header;
   grid-template-rows: 115px 45px;
   display: grid;
  
}
.logo {
  margin-left: 30px;
  align-self: center;
margin-top: 40px;
}
.head {
   background-color: darkturquoise;
   display: grid;
   grid-template-columns: minmax(auto,280px) minmax(auto,800px) minmax(auto,120px)  minmax(auto,120px);
   grid-template-rows: 1fr;
   
}
nav {
 background-color: deepskyblue;
 display: grid;
 grid-template-rows: 45px;
 grid-template-columns: auto auto auto auto auto auto auto;
 column-gap: 30px ;
}

nav ul {
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: auto auto auto auto auto ;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
nav p {
    font-size: 25px;
    grid-column: 5/6;
}
#language {
    grid-column: 6;
    padding-right: 20px;

}
.logo_x::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 20px;
  top: 42px;
  left:170px;
}
.logo_x::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 30px;
    background-color: darkorange;
    border-radius: 20px;
    top: 42px;
    left:170px;
    transform: rotate(90deg);
}
.input {
    display: grid;
    grid-template-rows:30px 70px;
    margin-top: 20px;
}
.input input {
    width: 80%;
grid-row: 2/3;
height: 30px;
}
.input p {
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.input a {
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 140px;
}
.graphic {
    align-self: center;

}
.corsina {
    align-self: center;
}
main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
}
main .img_1 {
   background-color: firebrick;
   grid-column: 1/3;
   grid-row: 1/3;
   column-width: 100%;
   border: 1px solid slateblue;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows:1fr 1fr;
}
main .img_02 {
    background-color: cornflowerblue;
    border: 1px solid slateblue;
}
main .img_03 {
   background-color: palegreen;
   border: 1px solid slateblue;
}
.h1 {
   grid-column-start: 2;
   grid-row-start:1;
   grid-row-end: 2;
   align-self: center;
  font-size: 50px;
}
.btn {
    grid-column-start: 2;
    align-self: flex-start;
    width: 100px;
}